html
    a(href='/index') go to index
    <br>
    a(href='/add') add
    body
        form(method="post", action="/form")
          input(type="text", name="name")
          input(type="submit" value="verzenden")



